{% extends "base.html" %}
{% block content %}
<h1>Analytics</h1>
<div class="cards">
  <div class="card"><b>{{ "{:,}".format(impressions) }}</b>Impressions</div>
  <div class="card"><b>{{ "{:,}".format(clicks) }}</b>Clicks</div>
  <div class="card"><b>{{ "{:,}".format(saves) }}</b>Saves</div>
  <div class="card"><b>{{ "{:,}".format(outbound_clicks) }}</b>Outbound Clicks</div>
  <div class="card"><b>{{ "{:.2f}%".format(ctr * 100) }}</b>CTR</div>
</div>
<h2>Top Performing Pins</h2>
<table>
  <tr><th>Title</th><th>Impressions</th><th>Clicks</th><th>Saves</th><th>CTR</th></tr>
  {% for pin, row in top %}
  <tr>
    <td>{{ (pin.title or "")[:80] }}</td>
    <td>{{ "{:,}".format(row.impressions) }}</td>
    <td>{{ "{:,}".format(row.clicks) }}</td>
    <td>{{ row.saves }}</td>
    <td>{{ "{:.2f}%".format(row.ctr * 100) }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
